html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

header {
    background-image: linear-gradient(to left, #585DFE, #FB3796);
}

.title {
    color: white;
    padding: 50px 50px 50px 50px;
    text-align: center;
}
    
#number-el {
    font-size: 150px;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

h3 {
    margin: 0px;
    font-size: 25px;
}

.main {
    background-color: #1F2937;
    
}

.convert {
    color: white;
    text-align: center;
    padding: 40px;
}

.buttons {
    text-align: center;
    padding-bottom: 25px;

}

#increment-btn {
    background: transparent;
    color: white;
    border-radius: 10px;
    font-size: 50px;
    margin: 50px;

}

#convert-btn {
    background: transparent;
    color: white;
    border-radius: 10px;
    font-size: 50px;
    margin: 50px;
}

p {
    padding-bottom: 15px;
    font-size: 18px;
}
